body {
  margin: 0;
  padding: 0;
}

.display {
  width: 1280px;
  height: 720px;
  margin: 0 auto;
  border: 1px black solid;
  background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);
}

#grid {
  margin: 0 auto;
  margin-top: 30px;
  width: 1280px;
  height: 720px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

#grid div {
  border-radius: 50px;
  background-color: #000;
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 18px;
  font-size: 40px;
  box-sizing: border-box;
  color: #fff;
  visibility: hidden;
}

.start-button {
  box-sizing: border-box;
  padding-top: 8px;
  font-size: 30px;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 350px;
  height: 50px;
  width: 180px;
  text-transform: uppercase;
}

.start-button:hover {
  color: #fff;
  background-color: #000;
  transition-duration: 0.5s;
}

.score-block {
  background-color: white;
  box-sizing: border-box;
  display: none;
  font-size: 40px;
  margin-left: 55px;
  text-align: center;
  width: 200px;
  text-transform: uppercase;
}

.time-block {
  background-color: white;
  box-sizing: border-box;
  display: none;
  font-size: 40px;
  margin-left: 55px;
  text-align: center;
  width: 200px;
  text-transform: uppercase;
}

.time-score {
  display: flex;
}

.finish-score {
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 300px;
  width: 300px;
  display: none;
  font-size: 40px;
  line-height: 1.5em;
  text-align: center;
}

.try-again-button {
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
  display: none;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.7);
}

.try-again-button:hover {
  color: #fff;
  background-color: #000;
  transition-duration: 0.5s;
}

@media screen and (min-width: 1336px) {
  .display {
    width: 1336px;
    height: 695px;
  }

  #grid {
    width: 1296px;
    height: 548px;
  }

  #grid div {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    font-size: 50px;
  }

  .button-start {
    margin-top: 300px;
  }

  .time-score {
    margin-top: 30px;
  }

  .score-block {
    font-size: 30px;
    width: 150px;
  }

  .time-block {
    font-size: 30px;
    width: 150px;
  }

  .finish-score {
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 200px;
    width: 320px;
    display: none;
    font-size: 40px;
    line-height: 1.5em;
  }
}

@media screen and (min-width: 1440px) {
  .display {
    width: 1440px;
    height: 810px;
  }

  #grid {
    width: 1400px;
    height: 720px;
  }

  #grid div {
    border-radius: 44px;
    width: 88px;
    height: 88px;
    text-align: center;
    padding-top: 12px;
    font-size: 56px;
  }

  .finish-score {
    margin-top: 300px;
  }

  .time-score {
    margin-top: 0;
  }

  .button-start {
    margin-top: 400px;
  }
}

@media screen and (min-width: 1920px) {

  .display {
    width: 1920px;
    height: 990px;
  }

  #grid {
    width: 1880px;
    height: 900px;
  }

  #grid div {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    padding-top: 12px;
    font-size: 68px;
  }

  .button-start {
    margin-top: 450px;
    width: 250px;
    height: 60px;
    padding-top: 5px;
    font-size: 40px;
  }

  .finish-score {
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 400px;
    width: 320px;
    display: none;
    font-size: 40px;
    line-height: 1.5em;
    text-align: center;
  }

  .time-score {
    margin-top: 0;
  }
}








